extends layout

block content
  - var riddingName = '传说中的川藏线'
  ul.breadcrumbs
    li
      a(href='/') #{User.name}的骑行活动
    li
      span #{riddingName}
  div.columns.side-column
    div.panel.secondary.radius
      h5 活动名称：
      span #{riddingName}
    div.panel.secondary.radius
      h5 行程：
      span 总距离:2099757
           起点:中国四川省成都市青羊区人民东路20号-94号
           终点:中国西藏自治区拉萨市城关区江苏路22号 邮政编码: 850000
    div.panel.secondary.radius
      h5 成员：
      a(href='/')
        img(src='http://tp3.sinaimg.cn/1760951922/50/5637592484/1')
        | #{User.name}
  div.main-column.panel aaa

