extends layout

block content
  div.index-page
    :markdown
      Travelog [![Build Status](https://secure.travis-ci.org/nomospace/travelog.png)](http://travis-ci.org/nomospace/travelog)
      ======

      ## 安装部署

      ```sh
      $ git clone https://github.com/nomospace/travelog.git  
      $ cd travelog  
      $ npm install  
      $ node app.js  
      ```
