doctype 5
html
  head
    meta(charset='utf8')
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    nav.top-bar
      ul
        li.name
          h1
            a(href='/') #{title}
      ul.right
        li
          a(href='/') nomospace
    block content
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/#{title}.js')
