!!! 5
html
  head
    meta(charset='utf8')
    title= title
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/social_foundicons.css')
    link(rel='stylesheet', href='/css/general_enclosed_foundicons.css')
    link(rel='stylesheet', href='/css/app.css')
  body.clearfix
    nav.top-bar
      ul
        li.name
          h1
            a(href='/') #{title}
      ul.right
        li
          if(locals.User)
            a(href='/user/1/tours') #{User.name}
          else
            a(href='/login') 登录
    a(href='https://github.com/nomospace/riding-web').fork2github
      img(src='/images/octocat-icon.png', alt='Fork me on GitHub')
    block content
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/underscore.js')
    script(src='/js/lib/foundation.js')
    block extrascript
    script(src='/js/app/main.js')
    script(src='/js/app/#{page}.js')
