doctype 5
html
  head
    meta(charset='utf8')
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/social_foundicons.css')
    link(rel='stylesheet', href='/stylesheets/general_enclosed_foundicons.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    nav.top-bar
      ul
        li.name
          h1
            a(href='/') #{title}
      ul.right
        li
          if(locals.User)
            a(href='/') #{User.name}
          else
            a(href='/login') 登录
    block content
    script(src='/javascripts/lib/jquery.js')
    script(src='/javascripts/lib/foundation.js')
    block extrascript
    script(src='/javascripts/app/main.js')
    script(src='/javascripts/app/#{page}.js')
