/* common  */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.panel {
  border: 0 none;
  background-color: #fff;
  border-top: 4px solid #2DAEBF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
}

.panel.radius {
  border-bottom: 2px solid #e2e2e9;
  border-radius: 0 0 10px 10px;
}

.top-bar {
  margin-bottom: 15px;
  border-bottom: 3px solid #2daebf !important;
}

ul.breadcrumbs {
  background-color: #fff;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
  Shared Styles
----------------------------------------- */

/* -----------------------------------------
  create
----------------------------------------- */

.side-column {
  float: left;
  width: 260px;
}

.side-column input[type=text] {
  font-size: 12px;
}

.tour-setup h5 {
  vertical-align: top;
}

.main-column {
  margin: 0 15px 0 260px;
  /*height: -webkit-calc(100% - 120px);*/
  background-color: #fff;
}

.main-column img {
  max-width: 10000px;
}

.team-member li {
  list-style: none;
}

.team-member li:first-child {
  margin-left: -10px;
}

.team-member li img {
  margin-left: 10px;
}

.team-member li p {
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.use-position {
  cursor: pointer;
}

.tour-route {
  margin-bottom: 40px;
}

.tour-to,
.tour-from,
.tour-name,
.invite-friend {
  margin-top: 10px !important;
}

/* -----------------------------------------
 Page Name 2
----------------------------------------- */


