/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
  Shared Styles
----------------------------------------- */

/* -----------------------------------------
  create
----------------------------------------- */
.top-bar {
  margin-bottom: 15px;
  border-bottom: 3px solid #2daebf !important;
}

.breadcrumbs {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.side-column {
  float: left;
  width: 260px;
}

.main-column {
  margin-left: 260px;
  margin-right: 15px;
  min-height: 500px;
}

/* -----------------------------------------
  Page Name 2
----------------------------------------- */


