/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
  Shared Styles
----------------------------------------- */

/* -----------------------------------------
  create
----------------------------------------- */
.top-bar {
  margin-bottom: 15px;
  border-bottom: 3px solid #2daebf !important;
}

.breadcrumbs {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.side-column {
  float: left;
  width: 260px;
}

.main-column {
  margin-left: 260px;
  margin-right: 15px;
  min-height: 500px;
  box-shadow: 0 0 8px #999;
  background-color: #fff;
}

.team-member li {
  list-style: none;
}

.team-member li:first-child {
  margin-left: -10px;
}

.team-member li img {
  margin-left: 10px;
}

.team-member li p {
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.set-position {
  cursor: pointer;
}

input.tour-to,
input.tour-from,
input.tour-name {
  margin-top: 10px;
}

/* -----------------------------------------
  Page Name 2
----------------------------------------- */


