/* common  */
body {
  background: url('../images/bg-noise-tile.png') repeat;
}

code{
  font-family: monaco, consolas, monospace;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.panel {
  border: 0 none;
  background-color: #fff;
  border-top: 4px solid #2DAEBF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
}

.panel.radius {
  border-bottom: 2px solid #e2e2e9;
  border-radius: 0 0 10px 10px;
}

.top-bar {
  margin-bottom: 15px;
  border-bottom: 3px solid #2daebf !important;
}

ul.breadcrumbs {
  background-color: #fff;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.fork2github {
  position: fixed;
  top: 6px;
  right: 4px;
  width: 30px;
  height: 30px;
}

.top-bar ul.right {
  margin-right: 35px;
}

.top-bar ul > li a:not(.button) {
  height: auto;
  line-height: 42px;
  padding: 0 10px;
}

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
  index
----------------------------------------- */
.index-page {
  margin: 0 10px;
}

/* -----------------------------------------
 create
----------------------------------------- */

.side-column {
  float: left;
  width: 260px;
}

.side-column input[type=text] {
  font-size: 12px;
}

.tour-setup h5 {
  vertical-align: top;
}

.main-column {
  margin: 0 15px 0 260px;
  /*height: -webkit-calc(100% - 120px);*/
  background-color: #fff;
}

.main-column img {
  max-width: 10000px;
}

.team-member li {
  list-style: none;
}

.team-member li:first-child {
  margin-left: -10px;
}

.team-member li img {
  margin-left: 10px;
}

.team-member li p {
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.use-position,
.invite-friend {
  cursor: pointer;
}

.tour-route {
  margin-bottom: 40px;
}

.tour-to,
.tour-from,
.tour-name {
  margin-top: 10px !important;
}

/* -----------------------------------------
 list
----------------------------------------- */

.top-nav, .main-list {
  margin: 0 15px 20px;
}

.top-nav .user-link {
  float: left;
  padding: 2px;
  border: 1px solid #e2e2e9;
}

.top-nav .name, .top-nav .desc {
  margin-left: 70px;
  margin-top: 0;
}

.tour-list {
  margin-top: 10px;
}

.tour-list .tour-item {
  float: left;
  width: 280px;
  padding: 10px;
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: url('../images/list-item-bg.png') repeat-x bottom #fff;
  list-style: none;
}

.tour-list .tour-item .name {
  font-size: 14px;
  font-weight: bold;
}

.tour-list .tour-item .date {
  font-size: 12px;
}

